* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 40px 0;
}

.main {
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  cursor: pointer;
  box-shadow: 3px 3px 8px rgba(255, 255, 255, 0.1),
    -3px -3px 8px rgba(255, 255, 255, 0.1);
}

.circle {
  background-color: #1d1d1d;
  width: 20px;
  margin: 2px;
  border-radius: 50%;
  height: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition: all 1s linear;
}

.circle:hover {
  transition-duration: 0s;
}
